body {
   display: flex;
   flex-direction: column;
   background-color: #1f1f1f; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   height: 100%;
}

.vkimage {
  width: 600px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: auto;
}

h1 {
  color: white;
}

.topcontainer {
  text-align: center;
}

.containercontainer
{
  margin-top:50px;
  height:400px;
  width: 100%;
  display: flex; 
  flex-direction:row;
  justify-content: center;
  align-items: center;    
  column-gap:100px;
}

.infocontainer {
  height: 350px;
  width: 25%; 
  background-color:rgba(83, 82, 82, 0.887);
  border-radius:10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white;
  box-shadow: 8px 8px 10px rgb(225, 223, 223);
}

ul li {
    margin-bottom: 10px;
    line-height:1.8;
    padding-right:15px;
  }

h4 {
  color:rgb(156, 199, 238);
}

button {
  margin-top:50px;
  padding-left:60px;
  padding-right:60px;
  padding-top:40px;
  padding-bottom:40px;
  font-size:25px;
  cursor:pointer;
  margin-left:455px;
  margin-bottom:50px;
  background-color:rgb(205, 202, 202);
  box-shadow: 8px 8px 10px rgb(132, 131, 131);
  border:none;
  border-radius:10px;
}